<h1>Index Home </h1>

<% if current_user.store.stripe_account_id.present? %>
  <%= current_user.store.stripe_account.to_json %>
<% else %>
  <p>No Stripe account found</p>
  <%= button_to "Create a Stripe Account", stripe_account_path, method: :post, data: { turbo: false } %>
<% end %>